In [7]:
num1 = 10
num2 = 20
num3 = 30

print(num1,"+",num2,"=",num3)

10 + 20 = 30

In [8]:
num1 = 80.5
num2 = 22.34
num3 = 102.84

print(num1,num2,num3)

80.5 22.34 102.84

In [12]:
num1 = 10.5
num2 = 50

print(num1,"*",num2,"=",num1*num2)

10.5 * 50 = 525.0

In [5]:
num = int(input())
num1 = int(input())
num2 = int(input())

print("sum =",num+num1+num2)
print("avg =",(num+num1+num2)//3 )

20
50
100
sum =  170
avg =  56

In [11]:
#print("yard?")
y = float(input("yard? "))

print(y,"yard =",y*91.44,"cm")

yard?10.1
10.1 yard = 923.544 cm